<div class="cart">
  <h2>Shopping Cart - Subtotal: $<%= cart_total %></h2>
  <% unless cart_total >= 50 %>
    <h5><span>Spend another $<%= (50 - cart_total).round(2) %> for free shipping!</span></h5>
  <% end %>
  <% if @cart.empty? %>
      <p>No items in cart.</p>
  <% else %>
    <ul>
      <% @cart.each do |product| %>
        <li><%= link_to product.name %> - $<%= product.price %></li>
        <li><%= image_tag product.image, alt: "Image of a product." %></li>
        <li><%= button_to 'Remove From Cart', remove_from_cart_path(product), method: :delete %></li>
        <li>&nbsp;</li>
      <% end %>
    </ul>
  <% end %>
  <div class="checkoutLink">
  <% if user_signed_in? && !@cart.empty? %>
    <%= link_to "Checkout!", checkout_path %>
  <% elsif user_signed_in? && @cart.empty? %>
  <% else %>
    <%= link_to "Please Log In to Checkout", new_user_session_path %>
  <% end %>
  </div>
</div>

