<!DOCTYPE html>
<html>
  <head>
    <title>Trendify</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% unless action_name == "success" %>
    <%= render "layouts/navbar" %>
    <% if user_signed_in? %>
      <div class="logOutButton">
        <%= button_to "Log Out", destroy_user_session_path, method: :delete %>
      </div>
    <% end %>
  <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
